body {
  font-family: "Ephesis", cursive;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}
.whole {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap row;
}
.title {
  text-align: center;
}
.card {
  width: 26%;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 50px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 8px #888888;
  box-sizing: content-box;
}
.pika {
  background-image: url(img/pika.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  background-size: 350px;
}
.charizard {
  background-image: url(img/charizard.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  background-size: 350px;
}
.onix {
  background-image: url(img/onix.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  background-size: 350px;
}
.mewtwo {
  background-image: url(img/mewtwo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  background-size: 350px;
}
.eevee {
  background-image: url(img/eevee.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  background-size: 350px;
}
.gengar {
  background-image: url(img/gengar.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  background-size: 350px;
}
.mew {
  background-image: url(img/mew.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  background-size: 350px;
}
.snorlax {
  background-image: url(img/snorlax.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  background-size: 350px;
}
.lapras {
  background-image: url(img/lapras.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  background-size: 350px;
}
