body {
  font-family: "Ephesis", cursive;
  padding: 0;
  margin: 0;
  animation: 1s ease-out 0s 1 slideInLeft;
}
.whole {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap row;
}
.title {
  text-align: center;
  transition: all 0.3s ease-in-out 0s;
}
.card {
  width: 26%;
  border-radius: 1rem;
  text-align: center;
  margin-bottom: 2rem;
  border: 0.2rem solid;
  padding: 1rem;
  box-shadow: 0.5rem 1rem 0.8rem #888888;
  box-sizing: content-box;
  transition: all 0.3s;
  overflow: hidden;
}

.picture {
  height: 30rem;
  max-width: 90%;
}
.card:hover {
  transform: scale(0.9);
}
.click {
  background: none;
  border: 0;
  box-sizing: border-box;
  padding: 1em 2em;
  box-shadow: inset 0 0 0 2px #f45e61;
  color: #f45e61;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
  transition: color 0.25s;
  opacity: 0.5;
  margin-top: 1rem;
}
.click::before,
.click::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.click::before {
  top: 0;
  left: 0;
}
.click::after {
  bottom: 0;
  right: 0;
}
.click:hover {
  color: #0eb7da;
  opacity: 1;
}
.click:hover::before,
.click:hover::after {
  width: 100%;
  height: 100%;
}
.click:hover::before {
  border-top-color: #0eb7da;
  border-right-color: #0eb7da;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.click:hover::after {
  border-bottom-color: #0eb7da;
  border-left-color: #0eb7da;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s,
    height 0.25s ease-out 0.75s;
}
.title:hover {
  cursor: default;
  transform: rotate(360deg);
  transition: all 0.3s ease-in-out 0s;
}
.picture:hover {
  animation: pulse 2s infinite;
  animation-timing-function: linear;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@media (max-width: 1300px) {
  .card {
    width: 40%;
  }
}
@media (max-width: 850px) {
  .card {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .picture {
    height: 20rem;
  }
}
