body {
  font-family: "Ephesis", cursive;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}
.whole {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap row;
}
.title {
  text-align: center;
}
.card {
  width: 26%;
  border-radius: 1rem;
  text-align: center;
  margin-bottom: 2rem;
  border: 0.2rem solid;
  padding: 1rem;
  box-shadow: 0.5rem 1rem 0.8rem #888888;
  box-sizing: content-box;
  transition: all 0.3s;
}
.pika {
  background-image: url(img/pika.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 30rem;
  background-size: 20rem;
}
.charizard {
  background-image: url(img/charizard.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 30rem;
  background-size: 20rem;
}
.onix {
  background-image: url(img/onix.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 30rem;
  background-size: 20rem;
}
.mewtwo {
  background-image: url(img/mewtwo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 30rem;
  background-size: 20rem;
}
.eevee {
  background-image: url(img/eevee.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 30rem;
  background-size: 20rem;
}
.gengar {
  background-image: url(img/gengar.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 30rem;
  background-size: 20rem;
}
.mew {
  background-image: url(img/mew.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 30rem;
  background-size: 20rem;
}
.snorlax {
  background-image: url(img/snorlax.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 30rem;
  background-size: 20rem;
}
.lapras {
  background-image: url(img/lapras.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 30rem;
  background-size: 20rem;
}
.card:hover {
  transform: scale(0.85);
}
